body {
    margin: 30px;
}
#container-controles {
    display: flex;
}
#btnPlay {
    height: 40px;
    width: 63px;
    background-color: transparent;
    border: none;
}
#imgBtnPlay {
    height: 100%;
}
#reguladorVelocidad {
    width: 200px;
    margin-left: 18px;
}